* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* nav-style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
}

.common-btn {
    font-family: "Inter", sans-serif;
    background-color: #1d4ed8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
}

.common-btn:hover {
    background-color: #1d4ed8;
    cursor: pointer;
}

.outline-btn {
    font-family: "Inter", sans-serif;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 18px 42px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 25px;
    transition: .3s ease;
    box-shadow: 0 10px 25px rgba(37, 99, 235, .35);
}

.outline-btn:hover {
    background-color: #1d4ed8;
    transform: translateY(-3px);
}


nav a:hover {
    color: #1d4ed8;
    background-color: lightblue;
    border-radius: 6px;
}

nav a {
    padding: 6px 12px;
}

nav ul {
    font-family: "Arimo", sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
    background-color: white;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
}

/* nav-style-end */



/* Hero-section-style-start */

.hero-section {
    font-family: "Inter", sans-serif;
    background:
        linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 829px;
}

.hero-container h1 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.hero-container p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.09;
    margin: 0;
}

.hero-container button {
    margin-top: 400px;

}

/* Hero=section-style-end */

/* Speaker-style-start */
.speakers-container {
    max-width: 1320px;
    width: 90%;
    margin: 80px auto;
}

.speakers-container h2 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
}


.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.category {
    color: #2563eb;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 18px 20px 8px;
    font-family: "Inter", sans-serif;
}

.card h3 {
    font-size: 28px;
    font-weight: 700;
    padding: 0 20px;
    margin-bottom: 8px;
    font-family: "Inter", sans-serif;
}

.design {
    color: #6b7280;
    font-size: 15px;
    line-height: 1.5;
    padding: 0 20px 20px;
    font-family: "Inter", sans-serif;
}

/* Speaker-style-end */


/* pricing-card-style-start */

.card-container {
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.card-header {
    font-family: "Inter", sans-serif;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

.card-header h2 {
    height: 60px;
    color: #0d1b2aFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

.card-header p {
    height: 24px;
    color: #575757FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.pricing-card h3 {
    height: 44px;
    color: #0d1b2aFF;
    font-size: 44px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0px;
}

.pro-card h1 {
    color: #ffffffFF;
}

.plan-name {
    color: #888888FF;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    text-decoration: none;
}

.pro-card .plan-name {
    color: #93c5fdFF;
}

.person {
    color: #888888FF;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    text-transform: none;
    text-decoration: none;
}

.pro-card .person {
    color: #ffffff80;
}

.pricing-card {
    width: 370.66px;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 20px;
    padding: 32px;
    box-sizing: border-box;
}

.pricing-card ul {
    padding-left: 20px;
    margin: 0;
}

.pro-card {
    background-color: #0D1B2A;
    color: #ffffffCC;
}

.pricing-card li::marker {
    color: #2563ebFF;
}

.stand-btn {
    background-color: transparent;
    color: #2563ebFF;
    border: 1px solid #2563ebFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: 304.66px;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.stand-btn :hover{
    background-color: #eff6ff;
    border-color: #1d4ed8;
}

 .pricing-card .pro-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: 304.66px;
    height: 45px;
}
.contact-btn{
    background-color: #F8F9FB;
    color: #2563ebFF;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: 304.66px;
    height: 45px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;

}

.pricing-card hr {
     border: none;
    border-top: 1px solid #e5e7eb;
    margin: 20px 0;
    width: 100%;

}

/* Newsletter-style-start*/

.newsletter{
    font-family: "Inter", sans-serif;
    padding: 80px 20px;
    background: #f8fafc;
}

.newsletter-content{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.newsletter-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #0d1b2a;
    margin-bottom: 16px;
}

.newsletter-content p{
    font-size: 16px;
    color: #6b7280;
    line-height: 1.6;
    margin-bottom: 32px;
}

.newsletter-form{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.newsletter-form input{
    flex: 1;
    max-width: 450px;
    padding: 15px 18px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

.newsletter-form input:focus{
    border-color: #2563eb;
    box-shadow: 0 0 0 4px rgba(37,99,235,.15);
}

.newsletter-form button{
    padding: 15px 28px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.newsletter-form button:hover{
    background: #1d4ed8;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(37,99,235,.25);
}
/*  Newsletter-style-end */

/* footer-section-start */

.footer{
    background:#0F1C2E;
    padding:40px 0;
}

.footer .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

.footer-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.1);
    margin:25px 0;
}

.logo{
    color:#fff;
    font-size:28px;
    font-weight:700;
}

.social-icons{
    display:flex;
    gap:18px;
}

.social-icons a{
    color:#fff;
    font-size:18px;
    transition:.3s;
}

.social-icons a:hover{
    color:#3B82F6;
}

.footer-bottom p{
    color:#9CA3AF;
    font-size:15px;
}

.footer-links{
    display:flex;
    gap:30px;
}

.footer-links a{
    text-decoration:none;
    color:#9CA3AF;
    transition:.3s;
}

.footer-links a:hover{
    color:#fff;
}
